In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("solicitudes_credito.csv", sep=";")
df.rename(columns={'Unnamed: 0':'index'},inplace=True)
df.set_index('index',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10920 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10920 non-null  object
 1   tipo_de_emprendimiento  10818 non-null  object
 2   idea_negocio            10920 non-null  object
 3   barrio                  10818 non-null  object
 4   estrato                 10920 non-null  int64
 5   comuna_ciudadano        10920 non-null  float64
 6   fecha_de_beneficio      10920 non-null  object
 7   monto_del_credito       10920 non-null  object
 8   línea_credito           10920 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 853.1+ KB

In [3]:
#df.dropna().info()
#df.drop_duplicates().info()
df.drop_duplicates().dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10497 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10497 non-null  object
 1   tipo_de_emprendimiento  10497 non-null  object
 2   idea_negocio            10497 non-null  object
 3   barrio                  10497 non-null  object
 4   estrato                 10497 non-null  int64
 5   comuna_ciudadano        10497 non-null  float64
 6   fecha_de_beneficio      10497 non-null  object
 7   monto_del_credito       10497 non-null  object
 8   línea_credito           10497 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 820.1+ KB

In [4]:
df.sexo = df.sexo.str.lower().astype(str).str.strip()
#df.sexo =df.sexo.str.lower()
#df.sexo = df.sexo.astype("category")
df.sexo.value_counts()

femenino     7050
masculino    3870
Name: sexo, dtype: int64

In [5]:
df.tipo_de_emprendimiento.value_counts()

comercio        5703
servicio        2230
industria       2188
COMERCIO         230
agropecuaria     160
INDUSTRIA         92
SERVICIO          88
Comercio          64
Industria         30
Servicio          18
AGROPECUARIA      11
Agropecuaria       4
Name: tipo_de_emprendimiento, dtype: int64

In [6]:
#ojo tiene valores nulos
df.tipo_de_emprendimiento = df.tipo_de_emprendimiento.str.capitalize().str.strip()
df.tipo_de_emprendimiento.value_counts()

Comercio        5997
Servicio        2336
Industria       2310
Agropecuaria     175
Name: tipo_de_emprendimiento, dtype: int64

In [7]:
df.idea_negocio.unique()

array(['charcuteria', 'distribuidora de ', 'tienda', 'organización y ',
       'COMIDAS RAPIDAS', 'comidas rapidas', 'PELUQUERIA', 'granero',
       'cafeteria', 'fabrica de ', 'peluqueria', 'variedades',
       'restaurante', 'recreativo-educativo', 'Variedades', 'FABRICA DE ',
       'almacen de ropa en ', 'cafe e internet', 'miscelanea',
       'cerrajeria', 'fabrica de helados', 'fabrica-de-',
       'fabrica de alimentos', 'Fabrica De ', 'mantenimiento en ',
       'tienda de helados', 'ferreteria', 'Drogueria', 'papeleria',
       'almacen_de_ropa_en_', 'productos de belleza', 'Licorera',
       'Tienda', 'TIENDA', 'CRIADERO_DE_ANIMALES_', 'servicios ',
       'fabrica de calzado', 'fabrica de productos ',
       'fabrica-de-productos-', 'PAPELERIA', 'taller de mecanica',
       'distribuidora-de-', 'criadero de animales ', 'publicidad y ',
       'drogueria', 'comidas-rapidas', 'mantenimiento_en_', 'barberia',
       'sembrados', 'deposito de ', 'carniceria', 'fabrica_de_',
       'Productos De Belleza', 'legumbreria', 'carpinteria',
       'fabrica de muebles', 'venta de repuestos',
       'fabrica de repuestos ', 'Ferreteria', 'panaderia', 'licorera',
       'Venta De Calzado', 'FERRETERIA', 'bares', 'almacen-de-ropa-en-',
       'VENTA DE LACTEOS', 'distribuidora_de_', 'fabrica de colchones',
       'ALMACEN_DE_ROPA_EN_', 'taller de electronica', 'comidas_rapidas',
       'joyeria', 'Peluqueria', 'viveros_', 'CRIADERO DE ANIMALES ',
       'fabrica_de_productos_', 'venta de pollos', 'fabrica-de-helados',
       'VARIEDADES', 'venta de calzado', 'lavanderia', 'tienda naturista',
       'Lavanderia', 'fabrica de juegos ', 'TIENDA NATURISTA',
       'tienda-de-helados', 'Almacen De Ropa En ', 'ALMACEN DE ROPA EN ',
       'DROGUERIA', 'marqueteria', 'alquiler de peliculas', 'fotografia',
       'Miscelanea', 'cafe_e_internet', 'billares', 'marroquineria',
       'fabrica-de-alimentos', 'taller-de-mecanica', 'fabrica de arepas',
       'ebanistaria', 'Tienda-Naturista', 'productos_de_mar',
       'venta de lacteos', 'SEMBRADOS', 'fabrica de traperos',
       'TALLER DE ELECTRONICA', 'fabrica de velas', 'Mantenimiento En ',
       'reciclaje', 'fabrica_de_calzado', 'Comidas_Rapidas',
       'montallantas', 'fabrica-de-calzado', 'PANADERIA', 'floristeria',
       'Taller De Mecanica', 'publicidad-y-', 'productos_de_belleza',
       'Papeleria', 'FABRICA DE HELADOS', 'Comidas Rapidas',
       'Distribuidora De ', 'Cafe E Internet', 'Recreativo-Educativo',
       'productos de mar', 'TALLER DE MECANICA', 'Fabrica De Alimentos',
       'FABRICA DE PRODUCTOS ', 'FABRICA DE ALIMENTOS',
       'RECREATIVO-EDUCATIVO', 'Panaderia', 'taller_de_mecanica',
       'MENSAJERIA', 'fabrica_de_repuestos_', 'LEGUMBRERIA',
       'MARQUETERIA', 'Barberia', 'CAFETERIA', 'mantenimiento-en-',
       'Fabrica De Helados', 'MANTENIMIENTO EN ', 'Publicidad Y ',
       'criadero-de-animales-', 'MISCELANEA', 'fabrica_de_alimentos',
       'FABRICA DE REPUESTOS ', 'BARBERIA', 'COMIDAS_RAPIDAS',
       'Criadero De Animales ', 'Restaurante', 'Cafeteria',
       'TALLER_DE_MECANICA', 'CERRAJERIA', 'venta de ', 'Floristeria',
       'RESTAURANTE', 'Fabrica De Juegos ', 'ORGANIZACIÓN Y ',
       'JARDINERIA', 'gimnasio', 'DISTRIBUIDORA-DE-', 'tienda_de_helados',
       'Carniceria', 'FABRICA-DE-CALZADO', 'PRODUCTOS DE BELLEZA',
       'venta_de_repuestos', 'Fabrica De Muebles', 'jardineria',
       'CAFE E INTERNET', 'deposito-de-', 'fabrica de ceramica',
       'Almacen_De_Ropa_En_', 'Bares', 'viveros ', 'Charcuteria',
       'lavadero de ', 'DISTRIBUIDORA DE ', 'Fabrica_De_Arepas',
       'FABRICA DE JUEGOS ', 'mensajeria', 'Organización-Y-',
       'FABRICA DE CALZADO', 'TIENDA DE HELADOS', 'lavadero-de-',
       'Joyeria', 'Fabrica-De-', 'Ebanistaria', 'TIENDA_DE_HELADOS',
       'FABRICA_DE_', 'fumigacion', 'FABRICA DE AREPAS',
       'FABRICA DE MUEBLES', 'FLORISTERIA', 'fabrica-de-muebles',
       'venta_de_lacteos', 'Fabrica De Calzado', 'EBANISTARIA',
       'MANTENIMIENTO-EN-', 'Organización Y ', 'BARES', 'ORGANIZACIÓN-Y-',
       'Legumbreria', 'GIMNASIO', 'fabrica_de_arepas',
       'Fabrica De Repuestos ', 'MONTALLANTAS', 'lenceria para el ',
       'VENTA DE REPUESTOS', 'Fabrica_De_', 'Servicios ',
       'hoteles-moteles-', 'Fabrica De Productos ', 'publicidad_y_',
       'Taller De Electronica', 'cafe-e-internet', 'Tienda_De_Helados',
       'ALMACEN-DE-ROPA-EN-', 'JOYERIA', 'Gimnasio', 'fabrica_de_muebles',
       'FABRICA-DE-', 'MARROQUINERIA', 'Deposito De ', 'FOTOGRAFIA',
       'pañalera', 'Cafe-E-Internet', 'PUBLICIDAD Y ', 'BILLARES',
       'Criadero_De_Animales_', 'Sembrados', 'FABRICA_DE_CALZADO',
       'tienda-naturista', 'Cerrajeria', 'Viveros ', 'venta-de-pollos',
       'TALLER-DE-MECANICA', 'deposito_de_', 'Fabrica-De-Calzado',
       'Tienda De Helados', 'servicios_', 'Fabrica De Arepas',
       'VENTA DE CALZADO', 'productos-de-belleza', 'CARNICERIA',
       'organización_y_'], dtype=object)

In [8]:
df.idea_negocio=df.idea_negocio.str.replace('-',' ', regex=False).str.replace('_',' ', regex=False).str.capitalize().str.strip()
df.idea_negocio.value_counts()

Fabrica de               1962
Variedades               1801
Tienda                   1065
Comidas rapidas          1028
Peluqueria                619
                         ...
Alquiler de peliculas       5
Lenceria para el            5
Venta de                    4
Fabrica de traperos         3
Pañalera                    2
Name: idea_negocio, Length: 75, dtype: int64

In [9]:
df.barrio = df.barrio.str.replace('-',' ', regex=False).str.replace('_',' ', regex=False).str.capitalize().str.strip()
df.barrio.value_counts()

Robledo                   1056
Manrique central no. 1     514
San javier no.1            453
Aranjuez                   411
Belen                      403
                          ...
Brasilia                     1
Barrio colombia              1
San isidro                   1
Villa liliam                 1
Los angeles                  1
Name: barrio, Length: 223, dtype: int64

In [10]:
df.barrio.sort_values()

index
6148     13 de noviembre
2205     13 de noviembre
3039     13 de noviembre
6321     13 de noviembre
9307     13 de noviembre
              ...
10450                NaN
10558                NaN
10675                NaN
10697                NaN
10705                NaN
Name: barrio, Length: 10920, dtype: object

In [11]:
df.estrato = df.estrato.astype("str").str.capitalize()
df.estrato.value_counts()

2    5384
3    3358
1    2175
0       3
Name: estrato, dtype: int64

In [12]:
df.comuna_ciudadano = df.comuna_ciudadano.astype(str).str.capitalize()
df.comuna_ciudadano.value_counts()

4.0     1424
7.0     1215
9.0     1026
1.0      896
13.0     887
8.0      776
5.0      700
2.0      680
3.0      623
6.0      605
16.0     462
60.0     427
10.0     308
80.0     285
12.0     245
15.0     206
90.0      68
70.0      33
50.0      29
14.0      15
11.0      10
Name: comuna_ciudadano, dtype: int64

In [13]:
df.fecha_de_beneficio = pd.to_datetime(df["fecha_de_beneficio"], dayfirst = True)
df.fecha_de_beneficio.value_counts()

2018-10-03    65
2018-10-11    64
2018-09-14    43
2018-07-05    43
2018-10-26    42
              ..
2016-09-17     1
2017-08-05     1
2019-01-02     1
2016-01-27     1
2016-01-05     1
Name: fecha_de_beneficio, Length: 795, dtype: int64

In [14]:
df.monto_del_credito = df.monto_del_credito.str.replace(",","",regex=True).str.replace("$","",regex=True).str.strip()
df.monto_del_credito = df.monto_del_credito.astype(float)
df.monto_del_credito.value_counts()

7800000.0     1243
5000000.0     1125
7000000.0     1111
6000000.0     1016
4000000.0      813
              ...
6440000.0        1
730000.0         1
82000000.0       1
7250000.0        1
251102.0         1
Name: monto_del_credito, Length: 277, dtype: int64

In [15]:
df.línea_credito=df.línea_credito.str.replace('-',' ', regex=False).str.replace('_',' ', regex=False).str.capitalize().str.strip()
df.línea_credito.value_counts()

Microempresarial          10721
Empresarial ed.              75
Agropecuaria                 58
Juridica y cap.semilla       35
Credioportuno                23
Fomento agropecuario          5
Solidaria                     1
Soli diaria                   1
Ayacucho formal               1
Name: línea_credito, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10920 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10920 non-null  object
 1   tipo_de_emprendimiento  10818 non-null  object
 2   idea_negocio            10920 non-null  object
 3   barrio                  10818 non-null  object
 4   estrato                 10920 non-null  object
 5   comuna_ciudadano        10920 non-null  object
 6   fecha_de_beneficio      10920 non-null  datetime64[ns]
 7   monto_del_credito       10920 non-null  float64
 8   línea_credito           10920 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 853.1+ KB

In [17]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
#df.drop_duplicates(inplace=True).dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10206 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10206 non-null  object
 1   tipo_de_emprendimiento  10206 non-null  object
 2   idea_negocio            10206 non-null  object
 3   barrio                  10206 non-null  object
 4   estrato                 10206 non-null  object
 5   comuna_ciudadano        10206 non-null  object
 6   fecha_de_beneficio      10206 non-null  datetime64[ns]
 7   monto_del_credito       10206 non-null  float64
 8   línea_credito           10206 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 797.3+ KB

In [18]:
df.barrio.value_counts()

Robledo                   990
Manrique central no. 1    483
San javier no.1           423
Aranjuez                  383
Belen                     376
                         ...
La hondonada                1
La aldea                    1
Las independencias          1
Oriente                     1
Los angeles                 1
Name: barrio, Length: 223, dtype: int64